body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(58, 58, 58);

}

ul {
    list-style-type: none;
}

header {
    display: flex;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid black;
    height: 130px;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

#leftArticle {
    margin-left: 300px;
}

#leftArticle>ul {
    margin-left: 10px;
    display: flex;
    font-size: 20px;
    line-height: 80px;
}

#leftArticle>ul>li {
    margin-left: 30px;
}

#leftArticle>ul>li>a>img {
    width: 150px;
}

#rightArticle {
    margin-left: 300px;
}

#rightArticle>ul {
    display: flex;
    font-size: 20px;
    line-height: 80px;
}

#rightArticle>ul>li {
    margin-left: 30px;
}

[name="slide"] {
    display: none;
}

.slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slidebox img {
    max-width: 100%;
}

.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.35s;
}

.slidebox .slideitem {
    animation: slideAnimation 8s infinite linear;
}

@keyframes slideAnimation {

    0%,
    20%,
    100% {
        transform: translateX(0%);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }
}


footer {
    text-align: center;
    border-top: solid black 1px;
    background-color: rgb(226, 226, 226);
    padding: 20px;
}

#footerLogoArticle>img {
    width: 150px;
}

#infomation>article>img {
    width: 500px;
    height: 350px;
}

#infomation {
    display: flex;
    justify-content: space-around;
}

#info1 {
    text-align: center;
}

#info2 {
    text-align: center;
}

#infoTitle {
    text-align: center;
}

#infoTitle>p {
    font-weight: 900;
    font-size: 60px;
}

#infoTitle>a {
    font-size: 30px;
}

#infoTitle>a:hover {
    font-weight: 900;
    font-size: 30px;
}

#gameSchedule img {
    width: 300px;
}

#gameSchedule p {
    font-size: 30px;
    font-weight: 900;
}

#todayGame {
    text-align: center;
}

#todayGame>h1 {
    font-size: 35px;
}

#gamePoint {
    display: flex;
    justify-content: center;
}

#todayGame2>p {
    line-height: 645px;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
}

#scheduleTable {
    text-align: center;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    font-size: 25px;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
}

#modal_close {
    font-size: 20px;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

#modal_container {
    padding: 30px 10px;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 20px;
}

#modal_body {
    margin-top: 20px;
    font-size: 24px;
}

#modal:target {
    visibility: visible;
    opacity: 1;
}

.today {
    background-color: #d2d2d2;
}

.game {
    font-weight: 900;
}

#ranking {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
}

#ranking_menu>div {
    display: none;
}

#ranking_menu>div:target {
    display: block;
}

#league_details>div {
    display: none;
}

#league_details>div:target {
    display: block;
}

#league_top>div>ul {
    display: none;
}

#league_top>div:target>ul {
    display: block;
}


.slides>article>img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

.slides>a {
    font-size: 35px;
    font-weight: 900;
    line-height: 650px;
    margin-left: 30px;
}

#slide1 {
    display: flex;
    justify-content: center;
}

#slide1>article>img {
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

#slide1>a {
    font-size: 35px;
    font-weight: 900;
    line-height: 650px;
    margin-left: 30px;
}

.leftImg {
    padding-top: 100px;
}

.centerImg {
    width: 500px !important;
    height: 500px !important;
}

.rightImg {
    padding-top: 100px;
}

.slides {
    display: flex;
    justify-content: center;
}

.slides {
    display: none;
}

#slide1:not(:target) {
    display: none;
}

#gallery>article:target {
    display: flex;
}

.more {
    display: none;
    position: relative;
    bottom: 35px;
}

.slideImgs:hover .more {
    display: block;
}

.slideImgs {
    height: 0px;
    text-align: center;
}

#mainGoods {
    text-align: center;
}

#mainGoods>img {
    width: 600px;
    height: 350px;
}

#goodsImage:hover {
    cursor: pointer;
    width: 650px;
    height: 400px;
}

#infoContainer {
    margin-top: 100px;
}

#controls {
    padding-top: 150px;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
}

.bar {
    width: 30px;
    margin-right: 10px;
    background-color: #007bff;
    text-align: center;
    color: white;
}

.bar-label {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

/* Goods 영역 */
#goods {
    width: 1320px;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
}

#goods select {
    width: auto;
}

#viewOptions label {
    font-size: 18px;
    margin-right: 5px;
}

#bestGoodsList,
#goodsList {
    justify-content: center;
    display: flex;
}

#bestGoodsList div,
#goodsList div {
    padding: 5px 10px;
}

#bestGoodsList div img,
#goodsList div img {
    border-radius: 15px;
}

.card {
    margin: 10px 10px;
    width: 300px;
}

/* 모달 영역 */
.edit-area {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
    background-color: #f0f0f0;
}

.edit-tools {
    margin-top: 10px;
}

#chartArea {
    border: solid black 2px;
    border-radius: 5px;
    margin: 30px 30px;
    width: 1050px;
    height: 200px;
}


#signupContainer {
    margin: 200px 0px 200px 0px;
    display: flex;
    justify-content: center;
}

#signupForm{
    text-align: center;
}

#signupForm>h1{
    text-align: center;
}

#responseMessage{
    margin: 5px 5px 5px 5px;
    font-weight: 900;
}